<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="/programstyle.css">
</head>
<body>
    <img src="/pStructure.png" alt="Program Structure">
    <%= data %>

    <% let i = 0; %> <!-- Initialize i once before the loop -->
    <% for (let item of programs) { %>
        <div class="program-widget">
            <h2><%= item.program %></h2>
            <p><%= item.brief %></p>

            <% if (item.codeSnippet !== "") { %>
                <% const currentId = i++; %> <!-- Increment i and store the value in currentId -->
                <div class="prgout">
                    <button onclick="ourCopyFunction('<%= currentId %>')">Copy text</button>
                    <pre><code class="language-javascript" id="<%= currentId %>"><%= item.codeSnippet %></code></pre>
                </div>
            <% } %>

            <% if (item.conceptual_summary !== "") { %>
                <div class="Summary">
                    <p>Conceptual Summary:</p>
                    <p><%= item.conceptual_summary %></p>
                </div>
            <% } %>
        </div>
    <% } %>

    <script src="/copyLogic.js"></script>
</body>
</html>
