<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

</head>
<body>
    <%= data%>
   



        <% for( let item of programs ) { %>
            <div class="program-widget" >
                <h2>
                    <%= item.program %>
                </h2>
                <p>
                    <%= item.question %>
                </p>
                <span class="material-symbols-outlined" id="copyButton" title="copy!">
                    content_copy    
                </span>
                <div class="prgout" id="prgout">  
                 <pre><code class="language-javascript">
                    <%= item.code %>
                    </code></pre> 
                <div class="output">
                
                
                </div> </div>
                <div class="Summary">
                <p >Conceptual Summary:</p>
                <p>
                    <%= item.conceptual_summary %>
                </p>
            
           
            </a></div>
            
            </div>
        
            <% } %>
        
</body>
</html>