<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <link rel="stylesheet" href="/programstyle.css">
</head>
<body>
    <h3><a href="/">Back Home</a></h3>
    
    <% if (data==1) { %>

        <img src="/pStructure.png" alt="Codebase Structure">
    <% } %>

    <% if (data==3) { %>

        <img src="/finalStructure.png" alt="Final Codebase Structure">
    <% } %>
    
    <% if (data==2) { %>
        
        <div style="margin: 50px; display: flex;  text-align: center; " class="download"> 
    
        <div style="flex:1">
         <h2>/data content</h2>
         <a href="/data1" target="_blank"><p>copy 1.json</p></a>
         <a href="/data2" target="_blank"><p>copy 2.json</p></a>
         <a href="/data3" target="_blank"><p>copy 3.json</p></a>
        </div>
         
         <div style="flex:1">
         <h2>home page ejs file</h2>
         <a onclick="ourCopyFunction('homeEjs')"><p>copy index.ejs</p></a>
         
            
            <pre style="visibility: hidden; height: 0;"><code class="language-javascript" id="homeEjs"><%= homeEjs.script%></code></pre>
        </div>

        </div> 
        <% } %>
    
    <% let i = 0; %> <!-- Initialize i once before the loop -->
    <% for (let item of programs) { %>
        <div class="program-widget">
            <h2><%= item.program %></h2>
            <p><%= item.brief %></p>

            <% if (item.codeSnippet !== "") { %>
                <% const currentId = i++; %> <!-- Increment i and store the value in currentId -->
                <div class="prgout">
                    <button onclick="ourCopyFunction('<%= currentId %>')">Copy text</button>
                    <pre><code class="language-javascript" id="<%= currentId %>"><%= item.codeSnippet %></code></pre>
                </div>
            <% } %>

            <% if (item.conceptual_summary !== "") { %>
                <div class="Summary">
                    <p>Conceptual Summary:</p>
                    <p><%= item.conceptual_summary %></p>
                </div>
            <% } %>
        </div>
    <% } %>

   

    <script src="/copyLogic.js">

    </script>
</body>
</html>
